<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Entry - {{customTaskData.date| date:dateFormat}}</div>
  
  <!-- List group -->
  <ul class="list-group">
 <li class="list-group-item">Client name: {{customTaskData.clientName}}</li>
    <li class="list-group-item">Platform: {{customTaskData.platform}}</li>
    <li class="list-group-item">URL: {{customTaskData.url}}</li>
    <li class="list-group-item">Work Done: {{customTaskData.workDone}}</li>
    <li class="list-group-item">Date: {{customTaskData.date| date:dateFormat}}</li>
    <li ng-show="{{ if (customTaskData.comments)}}" class="list-group-item">Comments: {{customTaskData.comments}}</li>

  </ul>
</div>

