  <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" ng-controller="MainController">
                <li class="sidebar-brand">            
                        <span>Diary</span>
                </li>
                <li>
                    <a href="#/home">Dashboard</a>
                </li>
                <li>
                    <a href="#/overview">Overview</a>
                </li>
                <li>
                    <a href="#/latest_work">Recent Entries</a>
                </li>
                
                <li>
                    <a href="#/archive">Archived Entries</a>
                </li>
                <li>
                    <a href="#/search">Search</a>
                </li>
                <li>
                    <a href="#/about-me">About</a>
                </li>
                <li>
                    <a href="#/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->