
                    <div class="col-lg-12">
                        <h1>Dashboard</h1><br>
<p>Quick Navigation:</p><br>
<div class="row">
                       <a href="#/latest_work"><div class="box col-md-2 text-center">Recent Work</div></a>
                       <a href="#/archive"><div class="box col-md-2 col-md-offset-1 text-center">Archived Work</div></a>
                      <a href="#/search"><div class="box col-md-2 col-md-offset-1 text-center">Search</div></a>
                      </div>
                     
                    </div>
  