<div class="col-lg-12">
	<h1>Overview</h1>
	<p>This is a angular single page app that works with my node server for serving out my Dairy entries</p><br>
	<p><strong>Purpose:</strong> <br>Easily add work that I have done daily</p>
	<p><strong>Reason:</strong> <br>Doing it as my second Angular side project to get a better understanding of the MEAN stack and my memory is bad</p>
	<p><strong>Future plans:</strong><br> To save entries to Google sheets</p><br>
	<p><strong>Text Editor:</strong><br> Sublime Text 3</p>
	<p><strong>Node Packages:</strong><br>bcrypt-nodejs
		body-parser<br>
		express<br>
		gulp<br>
		gulp-nodemon<br>
		mongoose</p>
		<p><strong>Frameworks:</strong><br>Bootstrap<br>AngularJS</p>
		<p><strong>Browser:</strong><br>Chrome</p>
		<p><strong>Operating System:</strong><br>Windows 10</p>
	</div>